<div *ngIf="route.children.length===0">
<ag-grid-angular
style="width: 1065px; height: 500px;position: sticky;"
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>

<div class="buttons-list">
<div class="buttons-dist">
<button class="button" style=" background-color: #1482AC;color: white;border: 0px; height: 45px;width: 175px; font-size: 16px;"
 (click)="goToAddEmployee()">Add Employee</button>
</div>
<div class="buttons-dist">
<button class="button" style="background-color: #1482AC;color: white;border: 0px; height: 45px;width: 175px; font-size: 16px;"
(click)="goToModifyEmployee()">Modify Employee</button>
</div>
<div class="buttons-dist">
<button class="button" style="background-color: #1482AC;color: white;border: 0px; height: 45px;width: 175px; font-size: 16px;"
(click)="goToDeleteEmployee()">Remove Employee</button>
</div>
</div>

</div>
<router-outlet></router-outlet>